body {
  background: #0f0f0f;
}

/* Hero */
.hero-section {
  height: 100vh;
  background:
    linear-gradient(rgba(0,0,0,0.55),
    rgba(0,0,0,0.55)),
    url('https://images.unsplash.com/photo-1566073771259-6a8506099945')
    center/cover no-repeat;
}

.hero-overlay {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  font-size: 30px;
  letter-spacing: 4px;
  color: #d4af37;
}

.btn-gold {
  background: #d4af37;
  color: black;
  border-radius: 30px;
  padding: 15px 40px;
  border: none;
  font-weight: bold;
}

.btn-gold:hover {
  background: #f5d76e;
}

/* Sections */
.welcome-section,
.amenities-section,
.choose-section {
  padding: 100px 0;
  background: #111;
}

.section-title {
  color: #d4af37;
  font-size: 42px;
  font-weight: bold;
}

.section-subtitle {
  color: #ccc;
  font-size: 20px;
}

/* Gallery */
.gallery-card {
  overflow: hidden;
  border-radius: 25px;
}

.gallery-img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  transition: 0.6s;
}

.gallery-img:hover {
  transform: scale(1.1);
}

/* Cards */
.luxury-card {
  background: rgba(255,255,255,0.06);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(212,175,55,0.4);
  border-radius: 25px;
  padding: 40px 20px;
  text-align: center;
  color: white;
  transition: 0.4s;
}

.luxury-card:hover {
  transform: translateY(-15px);
  box-shadow: 0 20px 40px rgba(212,175,55,0.25);
}

.gold-text {
  color: #d4af37;
  font-size: 60px;
}